<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Techna Knoweldge</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="orange lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Techna Knoweldge</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="c:/index.html">Home</a></li>
                <li><a href="c:/aboutus.html">About us</a></li>
                <li><a href="c:/contactus.html">Contact Us</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="c:/index.html">Home</a></li>
                <li><a href="c:/aboutus.html">About us</a></li>
                <li><a href="c:/contactus.html">Contact Us</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center black-text">Welcome to Techna Knoweldge</h1>
            <div class="row center">
                <h5 class="header col s12 light">Here you can gain the Knoweldge about the programming language and the various courses</h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light green">Get Started</a>
            </div>
            <br><br>

        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-black-text"><i class="material-icons">notebook</i></h2>
                        <h5 class="center">Courses</h5>

                        <p class="light">It gives a knoweldge about the programming languages. Additionally,It also gives the various courses like as the android app development , web development and microsoft shortchuts .</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-black-text"><i class="material-icons">computer</i></h2>
                        <h5 class="center">Software</h5>

                        <p class="light">It is also give the software links and in to download. It is use for your Practice to work on it. It often to get your skills best to create your ownn bussiness site and webpages. </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-black-text"><i class="material-icons">book</i></h2>
                        <h5 class="center">Books</h5>

                        <p class="light">Their we gives a gallery of books which you can find the books of courses to study them. It create you skills great.</p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>

    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Techna Knoweldge</h5>
                    <p class="grey-text text-lighten-4">We are giving the knoweldge about the Courses and Programming Language. We are updated contents and courses in the webpage fro the basic which everyone can learn from the starting. </p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="whitw-text">Connection</h5>
                    <ul>
                        <li><a class="white-text" href="https://whatsup.com">Whatsapp</a></li>
                        <li><a class="white-text" href="https://fb.com">Facebook</a></li>
                        <li><a class="white-text" href="www.google.com">Google</a></li>
                        <li><a class="white-text" href="https://linkedin.com">Linked In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by Harsh Gupta owner of <a class="red-text text-lighten-3" href="http://technaknoweldge.com">Techna Knoweldge</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

</html>